@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #333333;
}
::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  background-position: center center;
  position: relative;
}
body::before {
  background: url("../images/ai.webp");
  background-size: 50%;
  background-color: black;
  background-position: left 40%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.15;
  z-index: -2;
}
body::after {
  background: url("../images/bg.webp");
  background-size: cover;
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.15;
  z-index: -1;
}
p {
  font-size: 16px;
  line-height: 28px;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #e0e0e0;
}
:root {
  --main-color: #1a1a1a;
  --cyan: #00ffff;
  --green: #7cfc00;
  --gray: #1d1d1d;
}
.alert {
  text-align: center;
}
.alert.alert-success {
  color: var(--cyan);
}
.alert.alert-danger,
.flash-message.danger {
  color: red;
}
.alert,
.flash-message {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}
header {
  padding: 20px 10px;
  text-align: center;
  z-index: 9;
  position: relative;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerMenu ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.headerMenu ul li {
  display: inline;
  margin-right: 15px;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}
.headerMenu a {
  text-decoration: none;
  font-weight: 500;
}
.headerMenu a:hover {
  color: var(--cyan);
}
.headerRightCol {
  display: flex;
  align-items: center;
  gap: 50px;
}
.logo {
  color: #e0e0e0;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}
.logo:hover {
  color: var(--cyan);
}
footer {
  background-color: black;
}
footer .container {
  padding: 20px 0px;
  text-align: center;
  color: var(--main-color);
  border-top: 1px solid #3e3e3e;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}

.btn {
  border-radius: 100px;
  padding: 15px 45px;
  text-decoration: none;
  min-width: 150px;
  text-align: center;
  border: 0;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  background-color: #e0e0e0;
  color: black;
  border: 1px solid #e0e0e0;
}
.btn:hover {
  background-color: black;
  color: #e0e0e0;
  border-color: #e0e0e0;
}
h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.mainHeading {
  font-size: 70px;
  line-height: 80px;
}
.mainHeading span {
  color: var(--cyan);
}
.basicParagraph {
  text-align: center;
  line-height: 30px;
  margin-bottom: 30px;
}
.hero .basicParagraph {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
h4 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 160px);
  padding: 60px 10px 100px 10px;
  display: flex;
  align-items: center;

  justify-content: center;

  position: relative;
  z-index: 2;
}

.btns {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.formDiv input {
  padding: 15px;
  width: 100%;
  border-radius: 100px;
  border: 1px solid #3e3e3e;
  background-color: transparent;
  color: #e0e0e0;
  margin-top: 5px;
  font-size: 16px;
}
.formDiv {
  width: 500px;
  background-color: var(--gray);
  border-radius: 10px;
  padding: 50px 40px;
  border: 1px solid #3e3e3e;
}

.formDiv form {
  align-items: center;
  gap: 10px;
  font-size: 16px;
}
.formDiv form label {
  font-weight: 500;
}
.formDiv form div {
  margin-bottom: 20px;
}
.formDiv form label {
  padding-right: 5px;
}
.formDiv .checkboxesInner div {
  display: flex;
  gap: 3px;
}
.formDiv form button {
  width: 100%;
}
.formDiv a {
  color: var(--cyan);
}
.formBottomDiv {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}
.formBottomDiv a {
  font-weight: 600;
}

.checkboxes,
.checkboxesInner > div {
  margin-bottom: 0px !important;
}
.checkboxesInner:last-child {
  margin-bottom: 20px !important;
}
.checkboxes > div input:checked {
  accent-color: var(--cyan);
}
.checkboxes > div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px !important;
}
.checkboxes label {
  font-size: 14px;
  font-weight: 400 !important;
  cursor: pointer;
}
.checkboxes > div input {
  width: fit-content;
  margin: 0;
  cursor: pointer;
}
.checkboxes .sellerTypesLabel {
  display: block;
  margin-bottom: 10px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}
.checkboxesInner {
  display: flex;
}
/* Logout page */
.logoutForm form {
  text-align: center;
}
.logoutForm form button {
  font-size: 16px;
}
.searchForm input {
  margin-bottom: 20px;
  font-size: 16px;
}
.searchFormWrapper {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.searchPage .formDiv {
  width: 600px;
}
.searchFormWrapper button {
  margin-top: 10px;
}
.searchWelcome {
  margin-bottom: 30px;
  text-align: center;
}
.searchWelcome p {
  width: 60%;
  margin: 0 auto;
}
.userName {
  color: var(--cyan);
  text-transform: capitalize;
}
.searchForm h4 {
  font-weight: bold;
}
/* Search Results */
.resultCountWrapper {
  margin-bottom: 30px;
}

.resultCountWrapper p {
  text-align: center;
  font-size: 20px;
  color: var(--cyan);
}
.resultCountWrapper p span {
  font-weight: bold;
}
.results li h3 {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 34px;
}
.results li p {
  margin-bottom: 10px;
}
.results {
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  background-color: var(--gray);
  padding: 30px;
  width: 100%;
  max-height: 70vh;
  overflow-y: scroll;
}
.results ul {
  list-style: none;
}
.results li {
  margin-bottom: 30px;
  border-bottom: 1px solid #3e3e3e;
  padding-bottom: 30px;
}
.results li:last-child {
  border-bottom: 0px;
}

.analysisPage h2 {
  margin-bottom: 20px;
}
.analysisPage p {
  text-align: center;
  margin-bottom: 30px;
}
.analysisFiltersWrapper {
  background-color: var(--gray);
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #3e3e3e;
}
.analysisFiltersWrapper > div {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.analysisFiltersWrapper button {
  margin-top: 20px;
}
.analysisFiltersWrapper h5 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}
.analysisFiltersWrapper select {
  padding: 10px 10px;
  font-size: 16px;
  min-width: 200px;
  cursor: pointer;
}

.analysisBtnWrapper {
  text-align: center;
  margin-bottom: 50px;
  border-bottom: 1px solid #3e3e3e;
  padding-bottom: 70px;
}

.viewFilteredBtnWrapper {
  text-align: center;
  margin-top: 50px;
}

/* Responsive */

@media screen and (max-width: 767px) {
  .logo {
    font-size: 18px;
  }
  .headerMenu ul {
    gap: 20px;
  }
  .headerMenu ul {
    display: none;
    flex-direction: column;
    text-align: center;
    display: none;
  }
  .hamburger {
    display: block;
  }
  header .btn {
    padding: 8px 15px;
    min-width: unset !important;
  }
  header .btn {
    font-size: 14px !important;
  }
  header .logo {
    font-size: 17px;
  }

  .headerRightCol {
    justify-content: center;
  }
  nav.headerMenu {
    background-color: #e0e0e0;
    top: 100%;
    width: 100%;
    transition: all 0.3s;
  }

  nav.headerMenu ul {
    padding: 20px;
    position: absolute;
    z-index: 9;
    background-color: #e0e0e0;
    left: 50%;
    transform: translateX(-50%);
    top: 12%;
    width: 80%;
  }

  .mainHeading {
    font-size: 33px;
    line-height: 43px;
  }
  .formDiv {
    width: 100%;
    padding: 40px 20px;
  }
  h1 {
    font-size: 33px;
  }
  .mainHeading {
    font-size: 48px;
    line-height: 58px;
  }
  .checkboxesInner {
    flex-wrap: wrap;
  }
  .hero {
    padding-top: 30px;
  }
  .hero .basicParagraph {
    width: 100%;
  }
  .results {
    padding: 20px;
  }
  .results li h3 {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 28px;
  }
  .results li p {
    margin-bottom: 10px;
    line-height: 24px;
    font-size: 14px;
  }
}
