<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    {% include 'header.html' %}

    <section class="analysisSection">
        <div class="container">

            <div class="analysisBtnWrapper">
                <h1>View Analysis</h1>
                <p>View the analysis of the original data collected from the scrape.</p>
                <div>
                    <button id="run-nlp-regression" class="btn" onclick="runNLPRegression('scraped_gigs.csv')">Run
                        Analysis</button>
                </div>
            </div>

            <h2>Select Criteria for Analysis</h2>
            <p>Apply filters to customize your analysis based on specific criteria such as keywords, seller type, and location.</p>
            <form id="analysisFiltersForm">
                <div class="analysisFiltersWrapper">
                    <div>
                        <div class="analysisFilter filter1">
                            <h5>Listings Started</h5>
                            <select id="listings-started">
                                <option value="">Select</option>
                                <option value="2024">2024</option>
                                <option value="2023">2023</option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                            </select>
                        </div>

                        <div class="analysisFilter filter2">
                            <h5>Sales Count</h5>
                            <form action="">
                                <select id="sales-count">
                                    <option value="">Select</option>
                                    <option value="5">More than 5</option>
                                    <option value="10">More than 10</option>
                                    <option value="20">More than 20</option>
                                    <option value="50">More than 50</option>
                                    <option value="100">More than 100</option>
                                    <option value="200">More than 200</option>
                                    <option value="500">More than 500</option>
                                    <option value="1000">More than 1000</option>
                                    <option value="2000">More than 2000</option>
                                </select>
                        </div>

                        <div class="analysisFilter filter3">
                            <h5>Rating</h5>
                            <select id="rating">
                                <option value="">Select</option>
                                <option value="4.8">Above 4.8</option>
                                <option value="4.5">Above 4.5</option>
                                <option value="4.0">Above 4.0</option>
                                <option value="3.5">Above 3.5</option>
                                <option value="3.0">Above 3.0</option>
                                <option value="2.5">Above 2.5</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn" type="submit">Apply</button>
                </div>
            </form>
            <div class="viewFilteredBtnWrapper">
                <a class="btn" onclick="filteredResults('filtered_gigs.csv')">View Filtered Analysis</a>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}
</body>

</html>