<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - AI Service Hunting Tool</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% include 'header.html' %}
    <section class="hero">
      <div class="container">
        <h1>Register</h1>

        <div class="formDiv">
          <!-- Flash Messages -->
          {% with messages = get_flashed_messages(with_categories=True) %} {% if
          messages %}
          <div class="flash-messages">
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
          </div>
          {% endif %} {% endwith %}
          <form action="/register" method="post">
            <div>
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" required />
            </div>
            <div>
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required />
            </div>
            <button class="btn" type="submit">Register</button>
          </form>
          <div class="formBottomDiv">
            <p>Already have an account?</p>
            <a href="/login">Login here</a>
          </div>
        </div>
      </div>
    </section>
    {% include 'footer.html' %}
  </body>
</html>
